.button
{
    @extend .font-bangers;
    background-color: $red;
    padding: 0 1rem .1rem;
    border: 0;
    border-radius:100px;
    color: $white;
    font-weight:300;
    font-size: 1.5rem;
    display: inline-block;

    &:hover, &:active
    {
        background-color: lighten($red, 25%);
        color: $white;
    }

    @include media-breakpoint-down(sm)
    {
        font-size: 1.1rem;
    }

    &--white
    {
        background-color:white;
        color:$pink;
    }

    &--blue 
    {
        background-color: $blue;
        color: $white;
    }
    &--gray
    {
        background-color: $form-button;
    }
    &--white:hover
    {
        background-color:white;
        color:$gray !important;
    }
    &--small
    {
        padding: 0.1rem 0.5rem;
        font-size: 1rem;

        @include media-breakpoint-down(sm)
        {
            font-size: 1.25rem;
        }
    }


    &--medium
    {
        font-size:1rem;

        @include media-breakpoint-down(sm)
        {
            font-size: 1.25rem;
        }
    }

    /* Default: 1.75rem */

    &--large {
        //font-size: 2.5rem;
        padding: .5rem 1rem .6rem;
        text-align: center;

        @include media-breakpoint-down(sm)
        {
            font-size: 2.5rem; //don't let default override on media query
        }
    }

    &:hover
    {
        color: $white;
        cursor: pointer;
    }
}
