// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  dx: 1458px//1368px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  dx: 1440px//1350px
) !default;

//
// Color system
//

$white: #ffffff;
$light-gray: #c9c9c9;
$placeholder-gray: #aaaaaa;
$form-gray: #939495;
$author-background: #e2e2e2;
$form-background: #EFEFF0;
$form-button: #6F6F6F;
$gray: #4d4d4f;
$dark-gray: #282828;
$black: #000000;

$red: #bf2821; //#d64541;
$blue: #0c3657; //
$light-blue: lighten($blue, 25%);

$primary: $blue;
$alternate: $red;


$body-color: $blue;
$feature-color: $white;
$header-color: $white;
$header-bg-color: rgba(0,0,0,0);
$button-color: $white;
$button-bg-color: $red;
$footer-background-color: $blue;
$footer-color: $white;

$colors: (
	red: $red,
	blue: $blue,
	light-blue: $light-blue,
	gray: $gray,
	light-gray: $light-gray,
	form-gray: $form-gray,
	form-background: $form-background,
	form-button: $form-button,
	dark-gray: $dark-gray,
	white: $white,
	black: $black
);

// _functions.scss
@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}

$body-font:"Ubuntu";

$hero-font:"Oswald";
$header-font:"Bebas Neue";

$alternate-font:"Bangers";
$button-font:"Bangers";


$fontnames: (
	oswald: ('Oswald', sans-serif),
	bebas: ('Bebas Neue', cursive),
	ubuntu: ('Ubuntu', sans-serif),
	bangers: ('Bangers', cursive),
);

@function font($key) {
	@if map-has-key($fontnames, $key) {
		@return map-get($fontnames, $key);
	}

	@warn "Unknown `#{$key}` in $fontnames.";
	@return null;
}