
.hr
{
    width: 100%;
    margin: 0 auto;

    &__inner
    {
        height: 0px;
        margin: 1rem auto;
        background-size: 100% 100%;

        &.left-aligned
        {
            margin: 1rem auto 1rem 0;
        }

        & .right-aligned
        {
            margin: 1rem 0 1rem auto;
        }

        &--thin
        {
            padding-top: 5px;
        }
    
        &--solid
        {
            padding-top: 14px;
        }

        &--red
        {
           background-image: url(../img/hr-red-bold.png);
        }

        &--white
        {
            //background-color: $white;
            background-image: url(../img/hr-white-bold.png);

            &.hr__inner--thin
            {
                background-image: url(../img/hr-white.png);
            }
        }
    }
}