.image-item
{
    display: block;

    &:hover
    {
        text-decoration: none;
    }

    @include media-breakpoint-down(sm)
    {
        margin-top:2.5rem;
        margin-bottom:2.5rem;
    }

   &__image
    {
        background-position: 50% 50%;
        background-size:contain;
        background-repeat: no-repeat;
        background-color:transparent;
        margin:0px auto 25px auto;
        border-radius:128px;
        padding-top:128px;
        width: 128px;
    }

    &__title
    {
        font-family:$header-font;
        text-align: center;
        font-size:1.5rem;
        color:$teal;
    }

    &__content
    {
        text-align: center;
        color:$teal;
    }
}