//Landing Page styles

.music-column
{

	@extend .d-flex;
	@extend .flex-column;
	@extend .justify-content-center;

	&__text
	{
		@extend .justify-content-center;
		@extend .text-teal;
		max-width:375px;
		margin:auto;
	}

}

.header-narrow
{
	@extend .aligncenter;
	width: 450px;
	max-width: 100%;
}

