.post-image
{
    @extend .img-fluid;
    margin-top:2rem;
    margin-bottom:2rem;
    border-radius:6px;

    &--full-width
    {

    }

    &.image-polaroid
    {
        border-radius: 0;
        background-color: white;
        padding: 10px 10px 50px;
    }

}

.page-section__single-column.no-inner-margin, .row.no-inner-margin {
	.post-image
	{
		margin-top: 0;
		margin-bottom: 0;
	}
}